html, body, #app, .container, .sidebar-container, .chat-container {
  height:100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family:'Open Sans', sans-serif;
  background-color:#fff;
  padding:0;
  margin:0;
  font-size:14px;
}

.container {
  display:flex;
  flex-flow:row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

/* SIDEBAR STYLES */
.sidebar-container {
  background: #43cea2; /* fallback */
  background: -webkit-linear-gradient(to top, #43cea2 , #185a9d);
  background: linear-gradient(to top, #43cea2 , #185a9d);
  color:#fff;
  width:300px;
  min-width:300px;
  padding:0 2rem;
  max-height:100vh;
  overflow-y:scroll;
}

.mobile-nav {
  display:none;
}

#login-buttons {
  display: block;
  background-color: rgba(0,0,0,0.3);
  text-align: center;
  padding: 20px 0;
  margin: 2rem 0;
  width: 100%;
  border-radius: 20px;
  letter-spacing:1px;
  font-size:1rem;
}

#login-sign-in-link {
  color:white;
}

#login-dropdown-list {
  text-align:left;
  width:250px;
}

.welcome {
  text-align:center;
}

.welcome p {
  font-size: 1rem;
}

hr.small-hr {
  width: 100px;
  margin: 2rem auto;
  border: none;
  border-bottom: 1px solid #fff;
}

/* USER LIST */
ul.user-list {
  list-style-type: none;
  padding:0;
}

ul.user-list li {
  cursor:pointer;
  padding:10px;
  text-align:left;
}

ul.user-list li:hover {
  background-color: rgba(0,0,0,0.3);
}

ul.user-list li.selected-user {
  /*font-weight:700;*/
  background-color: rgba(0,0,0,0.3);
}

ul.user-list li.unread-message {
  font-weight:700;
}

/* CHAT CONTAINER STYLES */
.chat-container {
  flex: 1 1 auto;
  max-height:100vh;
}

.sign-in-message {
  width:80%;
  margin:0 auto;
  display:flex;
  height:100%;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
}

.sign-in-message p {
  font-size:2.5rem;
  text-align:center;
  border:3px solid #43cea2;
  border-radius:10px;
  padding:2rem 0.5rem;
}

.inner-chat-container {
  display:flex;
  flex-flow:column nowrap;
  height:100%;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  overflow:hidden;
}

.current-chat-name {
  width:100%;
  height:60px;
  background-color:rgba(173,186,189,0.2);
  border-bottom: 2px solid #ADBABD;
}

.current-chat-name h2 {
  margin:1rem 2rem;
}

.messages-container {
  flex: 1 1 auto;
  /*display: flex;
  flex-flow:column nowrap;
  justify-content: flex-end;*/
  padding:1rem 2rem;
  overflow:auto;
}

/* MESSAGE STYLES */
.messages-item {
  border-radius:20px;
  margin:10px auto 0 0;
  width:60%;
}

.messages-item.owner {
  text-align:right;
  margin: 10px 0 0 auto;
}

.messages-item p {
  margin: 0.2rem 0;
}

.message-info {
  font-size:0.7rem;
}

.message-item p.message-info {
  margin-left:0.5rem;
}

.messages-item.owner p.message-info {
  margin-left: 0;
  margin-right: 0.5rem;
}

span.message-date {
  color: #999;
  font-style:italic;
}

p.message-text {
  display: inline-block;
  padding:8px 15px;
  border-radius: 10px;
  background-color:rgba(173,186,189,0.5);
}

/* INPUT STYLES */
.message-form-container {
  width:100%;
  height: 86px;
  background-color:rgba(106,169,233,0.3);
  border-top: 2px solid #6AA9E9;
}

.message-form {
  margin:1rem 2rem;
  position:relative;
  display:flex;
  flex-flow:row nowrap;
  align-items:center;
  /*position:relative;*/
}

#message-input {
  width:100%;
  outline:none;
  border-radius:10px;
  border:none;
  resize: none;
  font-size:14px;
  padding: 10px 40px 10px 10px;
  overflow-y: hidden;
}

#submit-button {
  border:none;
  outline:none;
  border-radius:50%;
  background-color:black;
  color:white;
  padding:5px;
  text-align:center;
  width:40px;
  height:40px;
  /*position:fixed;*/
  /*right: 20px;*/
  /*margin-top: 6px;*/
  background:#43cea2;
}

#submit-button:hover {
  background-color:#6AA9E9;
}

/* MEDIA QUERIES */
@media (max-width: 640px){

.container {
  display:block;
  /*flex-flow:column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;*/
}

#login-buttons {
  width: 75%;
  margin: 1rem 0 1rem auto;
}

.mobile-nav {
  width:85%;
  margin: 0 auto;
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.hamburger-wrapper {
  position:absolute;
  top:15px;
}

.hamburger-button {
  position: relative;
  z-index: 9999;
  display: inline-block;
  vertical-align: top;
  height: 30px;
  width: 35px;
  margin-top: 3%;
}

.hamburger-button:hover {
  cursor: pointer;
}

.hamburger-button > span {
  display:block;
  height: 6px;
  width: 35px;
  margin-bottom: 6px;
  background-color: #43cea2;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  transition-duration: 1s;
  border-radius:5px;
}

.hamburger-button.open > span:first-child {
  -webkit-transform: translateY(12px) rotate(45deg);
  transform: translateY(12px) rotate(45deg);
}

.hamburger-button.open > span:nth-child(2) {
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.hamburger-button.open > span:last-child {
  -webkit-transform: translateY(-12px) rotate(-45deg);
  transform: translateY(-12px) rotate(-45deg);
}

.navbar {
  position: absolute;
  opacity: 0;
  z-index: 888;
  /*height: 100vh;*/
  width: 80vw;
  margin-left: -2%;
  left: -50vw;
  top:0;
}

.transition {
  transition: 1s;
}

.navbar.open {
  opacity: 1;
  left: 0;
}

.chat-container {
}

.current-chat-name {
  text-align:right;
}

}
